{% set post =  admin.parent.subject %}
{% if post %}
<a class="btn btn-primary sonata-action-element" href="{{ path('admin_sonata_news_post_edit', {'id':post.id}) }}"><i class="icon-reorder"></i> {{ 'sidemenu.link_edit_post'|trans({}, 'RzNewsBundle') }}</a>
<a class="btn btn-primary sonata-action-element" href="{{ path('admin_sonata_news_post_show', {'id':post.id}) }}"><i class="icon-magic"></i> {{ 'sidemenu.link_view_post'|trans({}, 'RzNewsBundle') }}</a>
{% endif %}