.rz-news-featured-post {
    margin-bottom: 20px;
    margin-top: 20px;
}
.rz-news-featured-post-row {
    margin-top: 10px;
}

.rz-news-featured-post-read-more {
    margin-top: 15px;
    text-align: center;
    vertical-align: middle;
}
