{#

This file is part of the Rz package.

(c) mell m. zamora <me@rmzamora.com>

For the full copyright and license information, please view the LICENSE
file that was distributed with this source code.

#}
{% set is_closed = false %}
{% set is_first = true %}
{% for field_description in admin.list.elements %}
    {% if field_description.getOption('code') == '_batch' and batchactions|length > 0 and not app.request.isXmlHttpRequest %}
        {% include admin.getTemplate('rz_list_batch_header') %}
    {% elseif field_description.getOption('code') == '_select' %}
        {% include admin.getTemplate('rz_list_select_header') %}
    {% elseif field_description.name == 'batch' and app.request.isXmlHttpRequest %}
        {# batch actions disabled in ajax view! #}
    {% elseif field_description.name == 'action' and app.request.isXmlHttpRequest %}
        {# Action buttons disabled in ajax view! #}
    {% else %}
        {% if is_first %}
        <th class="sonata-ba-list-field-header-flat span12">
        {% set is_first = false %}
        {% endif %}
        {{ rz_list_element_header(field_description)| raw }}
        {% if loop.last and not is_closed %}
        </th>
        {% else %}
           <span class="rz-header-flat-divider">|</span>
        {% endif %}
    {% endif %}
{% endfor %}
